.mainCont{
    background-color: black;
    width:100%;
    height:100%;
    opacity: 1;
    z-index: 1;
    }
    
    .secondCont{
        position: fixed;
        overflow: scroll;
        background-color: white;
    }
    
    .secondSigCont{
        position: fixed;
        overflow: scroll;
        background: -webkit-linear-gradient(left, #141E30, #243B55); ;
    }
    
    .signatureCanvas {
        border: 1px solid black;
        width: 100%;
        height: 100%;
      }


      .sigOptionCont{
          position: absolute;
          width: 100%;
          left:calc(45% - 35px);
          top:calc(20% - 55px)
      }

      .optionDiv{
        display: inline-block;
        border-radius: 22.5px;
        height: 45px;
        width: 45px;
        margin-right: 10%;
      }

      .optionSpan{
        position: relative;
        left:calc(50% - 17.5px);
        top:calc(50% - 17.5px);
        animation: ease-in-out;

      }
    
      .sigContentCont{
          position: relative;
          background-color: white;
          width: 100%;
          height: 70%;
          top:20%
      }

      .sigImgCont{
          width: 100%;
          height: 100%;
          background-color: chocolate;
      }